In [2]:
import pandas as pd
import numpy as np

In [ ]:
# sum(), count(), min(), max(), median(), var(), std()

In [3]:
s = pd.Series([10,20,30,40,50,60])
print(s)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [5]:
s = pd.Series([10,20,30,40,50,60])
print(s)
print("-------------")
sm=s.sum()
print(sm)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
-------------
210

In [7]:
s = pd.Series([10,20,np.NaN,30,40,50,60,None])
print(s)
print("-------------")
sm=s.sum()
print(sm)

0    10.0
1    20.0
2     NaN
3    30.0
4    40.0
5    50.0
6    60.0
7     NaN
dtype: float64
-------------
210.0

In [8]:
s = pd.Series([10,20,30,40,50,60])
print(s)
print("-------------")
sm=s.count()
print(sm)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
-------------
6

In [9]:
s = pd.Series([10,20,30,40,50,60])
print(s)
print("-------------")
sm=s.min()
print(sm)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
-------------
10

In [10]:
s = pd.Series([10,20,30,40,50,60])
print(s)
print("-------------")
sm=s.max()
print(sm)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
-------------
60

In [12]:
s = pd.Series([10,20,30,40,50,60,np.NaN,None])
print(s)
print("-------------")
sm=s.mean(skipna=True)
print(sm)

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    60.0
6     NaN
7     NaN
dtype: float64
-------------
35.0

In [14]:
s = pd.Series([10,20,30,40,50,60])
print(s)
print("-------------")
sm=s.median()
print(sm)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
-------------
35.0

In [16]:
s = pd.Series([10,20,30,40,50,60])
print(s)
print("-------------")
sm=s.var()
print(sm)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
-------------
350.0

In [17]:
s = pd.Series([10,20,30,40,50,60])
print(s)
print("-------------")
sm=s.mode()
print(sm)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
-------------
0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

# Misc operation on series obj