In [1]:
import pandas as pd
import numpy as np

# dropna(),values_count(), unique(), nunique(), sort_values(), idmax(), idmin(), pow(), le(), gt(), eq()

In [2]:
# valid()
s = pd.Series([10,20,np.NaN,40,12,14,None])
print("Series Elements")
print(s)

Series Elements
0    10.0
1    20.0
2     NaN
3    40.0
4    12.0
5    14.0
6     NaN
dtype: float64

In [8]:
s = pd.Series([10,20,np.NaN,40,12,14,None])
print("Series Elements before dropna()")
print(s)
s.dropna(inplace=True)
print("Series Elements after dropna()")
print(s)

Series Elements before dropna()
0    10.0
1    20.0
2     NaN
3    40.0
4    12.0
5    14.0
6     NaN
dtype: float64
Series Elements after dropna()
0    10.0
1    20.0
3    40.0
4    12.0
5    14.0
dtype: float64

In [9]:
# value_counts()
s = pd.Series([10,20,30,10,20,30,40,50,10,20,30])
print(s)

0     10
1     20
2     30
3     10
4     20
5     30
6     40
7     50
8     10
9     20
10    30
dtype: int64

In [12]:
s = pd.Series([10,20,30,10,20,30,40,50,10,20,30])
print(s)
print("-------------------")
s.value_counts()

0     10
1     20
2     30
3     10
4     20
5     30
6     40
7     50
8     10
9     20
10    30
dtype: int64
-------------------

10    3
20    3
30    3
40    1
50    1
Name: count, dtype: int64

In [13]:
# unique()
s = pd.Series([10,20,30,10,20,30,40,50,10,20,30])
print(s)
print("-------------------")
s.unique()

0     10
1     20
2     30
3     10
4     20
5     30
6     40
7     50
8     10
9     20
10    30
dtype: int64
-------------------

array([10, 20, 30, 40, 50], dtype=int64)

In [14]:
# nunique()
s = pd.Series([10,20,30,10,20,30,40,50,10,20,30])
print(s)
print("-------------------")
s.nunique()

0     10
1     20
2     30
3     10
4     20
5     30
6     40
7     50
8     10
9     20
10    30
dtype: int64
-------------------

5

In [16]:
# sort_values()
s = pd.Series([29,43,12,4,21,32],index=["Sprite","Thumsup","Fanta","Cococola","Due","String"])
print(s)
print("-------------------------")
s.sort_values()

Sprite      29
Thumsup     43
Fanta       12
Cococola     4
Due         21
String      32
dtype: int64
-------------------------

Cococola     4
Fanta       12
Due         21
Sprite      29
String      32
Thumsup     43
dtype: int64