In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.2.2

# syntax for creating series

## varname = pandas.Series(object,index,dtype)

In [3]:
a = 100
print(a,type(a))

100 <class 'int'>

In [5]:
s = pd.Series(a)
print(s,type(s))

0    100
dtype: int64 <class 'pandas.core.series.Series'>

In [9]:
fo = 12.34
s = pd.Series(fo)
print(s,type(s))

0    12.34
dtype: float64 <class 'pandas.core.series.Series'>

In [10]:
b = True
s = pd.Series(b)
print(s,type(s))

0    True
dtype: bool <class 'pandas.core.series.Series'>

In [11]:
b = 2.2j
s = pd.Series(b)
print(s,type(s))

0    0.0+2.2j
dtype: complex128 <class 'pandas.core.series.Series'>

In [13]:
a = 100
s = pd.Series(a,dtype=float)
print(s,type(s))

0    100.0
dtype: float64 <class 'pandas.core.series.Series'>

In [15]:
v1 = "Vinay"
s = pd.Series(v1)
print(s,type(s))

0    Vinay
dtype: object <class 'pandas.core.series.Series'>

# Creating a series of object by using range

In [16]:
r = range(7)
s = pd.Series(r)
print(s,type(s))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
dtype: int64 <class 'pandas.core.series.Series'>

In [17]:
r = range(7)
s = pd.Series(r,index=[1,2,3,4,5,6,7])
print(s,type(s))

1    0
2    1
3    2
4    3
5    4
6    5
7    6
dtype: int64 <class 'pandas.core.series.Series'>

In [18]:
r = range(7)
s = pd.Series(r,index=["ID1","ID2","ID3","ID4","ID5","ID6","ID7",])
print(s,type(s))

ID1    0
ID2    1
ID3    2
ID4    3
ID5    4
ID6    5
ID7    6
dtype: int64 <class 'pandas.core.series.Series'>

In [19]:
s["ID1"]

0

In [20]:
s["ID6"]

5

In [21]:
s = pd.Series(range(10,21,2),dtype=float)
print(s,type(s))

0    10.0
1    12.0
2    14.0
3    16.0
4    18.0
5    20.0
dtype: float64 <class 'pandas.core.series.Series'>

In [23]:
s = pd.Series(range(10,21,2),index=["RS","RS","RS","RS","RS","RS"],dtype=float)
print(s,type(s))

RS    10.0
RS    12.0
RS    14.0
RS    16.0
RS    18.0
RS    20.0
dtype: float64 <class 'pandas.core.series.Series'>

# Creating a series object by using list / tuple with default indices

In [24]:
lst = [10,20,30,40,50,60,70,80]
s = pd.Series(lst)
print(s,type(s))

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
dtype: int64 <class 'pandas.core.series.Series'>

In [25]:
lst = [10,20,30,40,50,60,70,80]
s = pd.Series(lst,dtype=float)
print(s,type(s))

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    60.0
6    70.0
7    80.0
dtype: float64 <class 'pandas.core.series.Series'>

In [28]:
lst = [10,20,30,40,50,60,70,80]
s = pd.Series(lst,index = [1,2,3,4,5,6,7,8],dtype=float)
print(s,type(s))

1    10.0
2    20.0
3    30.0
4    40.0
5    50.0
6    60.0
7    70.0
8    80.0
dtype: float64 <class 'pandas.core.series.Series'>

In [30]:
lst = [10,20,30,40,50,60,70,80]
s = pd.Series(lst,index = [int(x) for x in range(1,9)],dtype=float)
print(s,type(s))

1    10.0
2    20.0
3    30.0
4    40.0
5    50.0
6    60.0
7    70.0
8    80.0
dtype: float64 <class 'pandas.core.series.Series'>

In [31]:
lst = [10,20,30,40,50,60,70,80]
s = pd.Series(lst,index = ["ID"+str(int(x)) for x in range(1,9)],dtype=float)
print(s,type(s))

ID1    10.0
ID2    20.0
ID3    30.0
ID4    40.0
ID5    50.0
ID6    60.0
ID7    70.0
ID8    80.0
dtype: float64 <class 'pandas.core.series.Series'>

In [32]:
tup = (10,20,30,40,50,60,70,80)
s = pd.Series(tup,index = ["ID"+str(int(x)) for x in range(1,9)],dtype=float)
print(s,type(s))

ID1    10.0
ID2    20.0
ID3    30.0
ID4    40.0
ID5    50.0
ID6    60.0
ID7    70.0
ID8    80.0
dtype: float64 <class 'pandas.core.series.Series'>

# Creating a series object by using set with default indices

In [33]:
S1 ={100,200,300,400,500} # Set never follows insertion order
print(S1,type(S1))

{400, 100, 500, 200, 300} <class 'set'>

In [38]:
S1 ={100,200,300,400,500} # Set never follows insertion order
print(S1,type(S1))
print("-----------------------")
s = pd.Series(S1) #TypeError: 'set' type is unordered
print(s,type(s))

{400, 100, 500, 200, 300} <class 'set'>
-----------------------

TypeError: 'set' type is unordered

In [40]:
S1 ={100,200,300,400,500} # Set never follows insertion order
S2 = list(S1)
print(S2,type(S2))
print("-----------------------")
s = pd.Series(S2) 
print(s,type(s))

[400, 100, 500, 200, 300] <class 'list'>
-----------------------
0    400
1    100
2    500
3    200
4    300
dtype: int64 <class 'pandas.core.series.Series'>

# Creating a series object by using DICT with default indices

In [41]:
D1 = {10:"Vinay",20:"Sai",30:"Batta"}
print(D1,type(D1))

{10: 'Vinay', 20: 'Sai', 30: 'Batta'} <class 'dict'>

In [42]:
D1 = {10:"Vinay",20:"Sai",30:"Batta"}
print(D1,type(D1))
print("-------------------------------")
s = pd.Series(D1)
print(s,type(s))

{10: 'Vinay', 20: 'Sai', 30: 'Batta'} <class 'dict'>
-------------------------------
10    Vinay
20      Sai
30    Batta
dtype: object <class 'pandas.core.series.Series'>

In [43]:
s [10]

'Vinay'

In [44]:
s[20]

'Sai'